@import '../../Variables/Variables.scss';

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: $linkColor;
}

.active {
  color: $linkColor;
  font-weight: 600;
  border-bottom: 2px solid #6a1b9a;
}
