@import '../../assets/variables/variables.scss';

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  text-decoration: none;
  color: $greyColor;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: $linkColor;
}

.active {
  color: $linkColor;
  font-weight: 600;
  border-bottom: 2px solid $linkColor;
}
