@import '../../assets/variables/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  display: none;
}

.logoutBtn {
  font-size: 14px;
  background-color: $linkColor;
  color: $whiteColor;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 6px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logoutBtn:hover {
  background-color: $pinkColor;
}

@media screen and (min-width: 768px) {
  .username {
    display: block;
    font-weight: 700;
  }

  .logoutBtn {
    padding: 6px 12px;
    margin-left: 10px;
  }
}
